@use "styles/variables";
@use "styles/modal";
@use "styles/featured-plants";
@use "styles/spinner";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap&subset=cyrillic-ext");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$main-font-family;
}

.body_overlowHidden {
  overflow: hidden;
}

.text {
  color: variables.$text-color;
}

._container {
  max-width: variables.$maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: (variables.$md1+px)) {
    max-width: 970px;
  }
  @media (max-width: (variables.$md2+px)) {
    max-width: 750px;
  }
}

.header {
  width: 100%;
  position: absolute;
  &__content {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    height: 36px;
  }
}

.btn {
  display: inline-flex;
  flex-direction: column;
  border: none;
  padding: 0px 20px;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  transition: background-color 0.3s ease 0s;
  font-weight: 500;
  cursor: pointer;
  &_active {
    background-color: variables.$accent-color;
    color: white;

    &:hover {
      background-color: #0f4e4a;
    }
  }
  &_big {
    font-size: 32px;
    height: 160px;

    &_back {
      color: variables.$accent-color;
      width: 270px;
    }

    &_next {
      width: 320px;
    }
  }
  &__direction {
    margin-bottom: 12px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_back {
      color: #ccc;
      img {
        margin-right: 10px;
      }
    }
    &_next {
      color: #f2f2f2;
      img {
        margin-left: 10px;
      }
    }
  }
}

.cover {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  &__content {
    margin-top: 15%;

    margin-left: 77px;
    width: 540px;
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 50%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    color: variables.$accent-color;
    font-size: 68px;
    font-weight: 500;
  }
  &__text {
    margin-top: 24px;
    font-size: 18px;
    line-height: calc(32 / 18) * 100%;
  }
  &_btns {
    margin-top: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.advantages-cards {
  margin-top: 140px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: (variables.$md1+px)) {
      flex-wrap: wrap;
    }

    margin: 0px -16px;
  }
  &__column {
    flex: 0 1 25%;
    @media (max-width: (variables.$md1+px)) {
      flex: 0 1 45%;
    }

    margin: 0px 16px;
  }
}

.advantages-card {
  border: 2px solid variables.$secondary-color;
  height: 100%;
  padding: 22px 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    color: variables.$accent-color;
    font-size: 16px;
    font-weight: 700;

    img {
      margin-right: 16px;
    }
  }
  &__text {
    margin-top: 16px;
    font-size: 10px;
    line-height: calc(16 / 10) * 100%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid {
  border: 1px solid red;
}
.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.error-message__wraper {
  position: relative;
}
