@use "styles/variables";

.cover {
  width: 100%;
  height: 100vh;
  display: flex;

  &__image {
    flex-grow: 1;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
  }
  &__content {
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: variables.$accent-color;
    font-size: 4.25rem;
    font-weight: 500;
  }
  &__text {
    margin-top: 24px;
    font-size: 1.12rem;
    line-height: calc(32 / 18) * 100%;
  }
  &_btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
