$main-font-family: "Montserrat";
$second-font-family: "PT Sans";

$accent-color: #156963;
$secondary-color: #e0e0e0;
$text-color: #2c1500;

$minWidth: 320;
$maxWidth: 1280;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
