$main-font-family: "Montserrat";
$second-font-family: "PT Sans";

$accent-color: #156963;
$secondary-color: #e0e0e0;
$text-color: #2c1500;

$maxWidth: 1280px;
$maxWidthContainer: 1170;
$desktopFullHD: 1920px;
$desktopMedium: 1660px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;

